/* Estilo da Página */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilo do Cabesalho Com Suas Propriedades de Alinhamento e Perfumarias */
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
header a img{
    margin: 5px 0 0 50px;
    width: 100px;
}
header nav .navlinks li{
    display: inline-block;
    margin: 35px 35px 0 0;
}
header nav .navlinks li a{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    background-color: orange;
    color: white;
    border: solid 2px rgba(255, 166, 0, 0.281);
}
header nav .navlinks li a:hover{
    background-color: rgba(255, 166, 0, 0.281);
    color: black;
    border: solid 2px orange;
}
header nav .navlinks li a:active{
    background-color: orange;
    color: white;
    border: solid 2px rgba(255, 166, 0, 0.281);
}
.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: orange;
    transition: 0.3s;
}
/* Estilo da Seção de Apresentação Com Alinhamento, Tamanho e Perfumarias */
.apresentacao{
    display: flex;
    margin-top: 100px;
    max-width: 100%;
    height: 650px;
    border-radius: 100px;
    background: linear-gradient(to right, orange, white);
    box-shadow: 0 0 100px yellow;
}
.apresentacao img{
    position: absolute;
    right: 100%;
    animation: moverDaEsquerdaParaADireita 4s forwards;
}
.tituloApresentacao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 90px;
    width: 55%;
}
.tituloApresentacao h1{
    font-size: 50px;
}
.apresentacao img{
    margin: 100px 0 0 50px;
}
@keyframes moverDaEsquerdaParaADireita{
    from{
        right: 100%;
    }
    to{
        right: 50px;
    }
}
/* Propriedades da Imagem de Quebra de Seção */
.nuven{
    height: 100px;
    width: 100%;
}
/* Estilo da Seção de História Com Suas Propriedades de Tamanho, Alinhamento e Perfumarias */
.historia{
    padding: 50px 100px 50px 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px yellow;
}
h2{
    font-size: 40px;
}
.boxFlex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.boxFlex .boxImg{
    margin: 50px 0 0 50px;
}
.boxFlex img{
    height: 300px;
    border-radius: 30px;
}
.boxFlex img:hover{
    box-shadow: 10px 10px 5px orange;
}
.paragrafo{
    padding-top: 60px;
    width: 75%;
    font-size: 20px;
    text-align: justify;
}
.paragrafo2{
    margin: 50px 0 30px 0;
    font-size: 20px;
    text-align: justify;
}
/* Estilo da Seção do Enredo Com alinhamento e Perfumarias */
.enredo{
    padding: 50px 100px 50px 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px yellow;
}
/* Estilo da Seção das Sagas Com alinhamento, Tamanho e Perfumarias */
.sagas{
    padding: 50px 100px 50px 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px yellow;
}
.sagas .navlinks li{
    margin: 50px 0 0 20px;
    font-size: 20px;
    font-weight: bold;
}
/* Estilo da Seção dos Magas Com alinhamento e Perfumarias */
.mangas{
    padding: 50px 100px 50px 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px yellow;
}
/* Estilo da Seção dos Filmes Com alinhamento e Perfumarias */
.filmes{
    padding: 50px 100px 50px 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px yellow;
}
/* Estilo da Seção das Músicas Com alinhamento e Perfumarias */
.musicas{
    padding: 50px 100px 50px 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px yellow;
}
/* Estilo da Seção de Personagens Com alinhamento, Tamanho e Perfumarias */
.personagens{
    margin-bottom: 100px;
    padding: 50px 0 130px 0;
    border-radius: 100px;
    box-shadow: 0 5px 100px yellow;
}
.personagens h2{
    margin: 50px 0 20px 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.boxPersonagens{
    margin: 30px 70px 0 70px;
    height: 500px;
    width: 200px;
    position: relative;
    padding: 20px;
}
.boxPersonagens img{
    display: none; 
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}
.boxPersonagens2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 0;
    border-radius: 40px;
    z-index: 0;
    cursor: pointer;
    background-color: orange;
}
.boxPersonagens2:hover{
    background-color: rgba(255, 166, 0, 0.767);
    box-shadow: 0 0 30px orange;
}
.boxPersonagens2:active{
    background-color: orange;
}
.boxPersonagens2 p{
    font-size: 30px;
    color: white;
}
.personagens .paragrafo{
    margin: 100px 40px 0px 100px;
    font-size: 20px;
    text-align: justify;
}
.personagens .paragrafo2{
    margin: 20px 0px 0px 100px;
    font-size: 15px;
    text-align: justify;
}
/* Estilo Dos Links Que Levam Para as Novas Aventuras */
.proximaPagina{
    font-size: 30px;
    color: orange;
}
/* Estilo do Rotape da Página Com Tamanho e Alinhamento */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
}
footer .copyright{
    margin: 50px 0 0 70px;
}
footer .Email{
    display: flex;
}
footer .Email a .imgEmail{
    margin-top: 45px;
    height: 30px;
}
footer .paragrafoEmail{
    margin: 50px 70px 0 5px;
}
/* Botão Voltar ao Topo */
#btnTopo{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    background-color: orange;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#btnTopo img{
    width: 30px;
}
#btnTopo:hover{
    transform: scale(1.1);
    background-color: #ffb347;
}
#btnTopo:active{
    background-color: orange;
}
/* Responsividade do Site */
/* Tablet grande / notebook pequeno */
@media (max-width: 1280px) { 
    /*  */
    .historia .boxFlex .boxImg img{
        width: 500px;
        object-fit: cover;
        object-position: 50% 20%;
    }
    /*  */
    .enredo .boxFlex .boxImg img{
        width: 500px;
        object-fit: cover;
        object-position: 50% 20%;
    }
    /*  */
    .sagas .boxFlex .boxImg img{
        width: 500px;
        object-fit: cover;
        object-position: 50% 60%;
    }
    /*  */
    .boxFlex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxFlex .boxImg{
        margin: 50px 0 0 50px;
    }
    /*  */
    .paragrafo{
        padding-top: 60px;
        width: 100%;
        font-size: 20px;
        text-align: justify;
    }
    }
/* Tablet */
@media (max-width: 840px){
    /*  */
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    header a img{
        margin: 5px 0 0 0;
        width: 100px;
    }
    header nav .navlinks li{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 0 0;
    }
    /*  */
    .tituloApresentacao{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 90px;
        width: 40%;
    }
}
/* Celular */
@media (max-width: 480px){ 
    /*  */
    header{
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
    /* Esconde os links no mobile */
    header nav .navlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 0;
        gap: 20px;
        top: 70px;
        right: 0;
        height: 0;
        width: 200px;
        transition: 0.4s;
        overflow: hidden;
        border-radius: 20px;
        background: rgba(255, 166, 0, 0.281);
    }
    header nav .navlinks li{
        width: 100%;
        text-align: center;
    }
    header nav .navlinks li a{
        padding: initial;
        border: initial;
        border-radius: initial;
        background-color: initial;
        color: initial;
    }
    header nav .navlinks li a:hover{
        padding: initial;
        border: initial;
        border-radius: initial;
        background-color: initial;
        color: initial;
    }
    header nav .navlinks li a:active{
        padding: initial;
        background-color: initial;
        color: white;
    }
    header nav .navlinks.show{
        height: 200px;
    }
    .hamburger {
        display: flex;
    }
    /*  */
    .apresentacao{
        height: 500px;
        border-radius: 50px;
    }
    .tituloApresentacao{
        margin-left: 10px;
        width: 60%;
    }
    .tituloApresentacao h1{
        font-size: 30px;
        z-index: 1;
        color: rgba(255, 255, 255, 0.87);
        text-shadow: 0 0 5px orange;
    }
    .apresentacao img{
        margin: 120px 0 0 70px;
        height: 380px;
    }
    /*  */
    .historia{
        padding: 50px 15px 50px 15px;
        border-radius: 50px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    .boxFlex .boxImg{
        margin: 50px 0 0 0;
    }
    .historia .boxFlex .boxImg img{
        height: 400px;
        width: initial;
        border-radius: 30px;
    }
    .paragrafo{
        text-align: justify;
        padding-top: 60px;
        width: 100%;
        font-size: 20px;
    }
    .paragrafo2{
        text-align: justify;
        margin: 50px 0 30px 0;
        font-size: 20px;
    }
    /*  */
    .enredo{
        padding: 50px 15px 50px 15px;
        border-radius: 50px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    .boxFlex .boxImg{
        margin: 50px 0 0 0;
    }
    .enredo .boxFlex .boxImg img{
        height: 400px;
        width: initial;
        border-radius: 30px;
    }
    .paragrafo{
        text-align: justify;
        padding-top: 60px;
        width: 100%;
        font-size: 20px;
    }
    .paragrafo2{
        text-align: justify;
        margin: 50px 0 30px 0;
        font-size: 20px;
    }
    /*  */
    .sagas{
        padding: 50px 15px 50px 15px;
        border-radius: 50px;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
    .sagas ul li{
        margin: 40px 0 0 20px;
        font-size: 20px;
        font-weight: bold;
        color: orange;
    }
    .boxFlex .boxImg{
        margin: 50px 0 0 0;
    }
    .sagas .boxFlex .boxImg img{
        height: 400px;
        width: initial;
        border-radius: 30px;
    }
    .paragrafo{
        text-align: justify;
        padding-top: 60px;
        width: 100%;
        font-size: 20px;
    }
    .paragrafo2{
        text-align: justify;
        margin: 50px 0 30px 0;
        font-size: 20px;
    }
    /*  */
    .mangas{
        padding: 50px 15px 50px 15px;
        border-radius: 50px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    /*  */
    .filmes{
        padding: 50px 15px 50px 15px;
        border-radius: 50px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    /*  */
    .musicas{
        padding: 50px 15px 50px 15px;
        border-radius: 50px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    /*  */
    .personagens{
        padding: 50px 0 50px 0;
        border-radius: 50px;
    }
    .personagens h2{
        text-align: center;
        margin: 30px 0 0 0;
    }
    .container{
        justify-content: center;
    }
    .boxPersonagens{
        margin: 30px 0 0 0;
    }
    .personagens .paragrafo{
        margin: 40px 20px 40px 20px;
        padding: 0;
        width: 90%;
        word-spacing: 10px;
    }
    .personagens .paragrafo2{
        margin: 0 20px 40px 20px;
    }
    /*  */
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .copyright{
        margin: 0 0 20px 0;
    }
    footer .Email a .imgEmail{
        margin-top: 0;
        height: 30px;
    }
    footer .paragrafoEmail{
        margin: 8px 0 0 5px;
    }
}